@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.wrapper{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0; 
  background-color: #fff;
  line-height: 1; 
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
}

.title{
  width: 95%;
  background: inherit;
  text-transform: uppercase;
  color: white;
}


.calculating{
  width: 100%;
}

.calculating__container{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.calculating__input-wrapper{
  background-color: rgba(255, 255, 255, .1);
  margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.calculating__input-col{
    display: flex;
    flex-direction: column;
}

.calculating__input{
    margin-top: auto;
}

.calculating__subtitle {
  font-weight: bold;
  white-space: normal;
  margin-top: 20px;
  margin-bottom: 15px;
}

.calculating__text{
  margin-bottom: 0.2em;
}

.calculating__output-wrapper{
    background-color: rgba(255, 255, 255, .1);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}


@media screen and (max-width: 749px){
    .calculating__output-wrapper{
        display: flex;
        flex-flow: column wrap;
        justify-content:space-evenly;
    }
}


.calculating__output-border{
    border: solid 2px #fff;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.calculating__output{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    font-weight: bold;
}

ul.dropdown-menu {
	background-color: transparent;
	border:none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
