@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0; 
  background-color: #fff;
  line-height: 1; 
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.title{
  width: 90%;
  text-transform: uppercase;
}

.wrapper{
  padding: 2em;
}

.claculating{
  width: 50%;
}

.calculating__input-wrapper{
  margin-top: .5em;
}

.calculating__subtitle {
  font-weight: normal;
  /* text-transform: uppercase; */
  margin: 0.2em 0em;
  white-space: normal;
  margin-bottom: .3em;
}

